/*
default settings
*/
*{
    font-family:'open sans','sans-serif';
    box-sizing:border-box;
}

/*
nav settings
*/
nav{
    border-bottom:1px solid rgb(251,253,255);
}
.navbar-brand{
    color:#efefef !important;
    font-family:'raleway','sans-serif';
    font-weight:bold;
}
#logo{
    width:25px;
}


/*
Stylings for footer
*/
/*general default footer*/
footer ul{
    list-style:none;
    padding:0;
}
footer a{
    color:white;
}
.footer-text{
    font-size:14px;
}
/*outer footer*/
#outer-footer{
    border-top:2px solid black;
    color:rgb(251,253,255);
    background-color:#242526;
    padding:20px;
}
#social_links li{
    display:inline-block;
    font-size:22px;
    background-color:#646466;
    padding:4px 11px;
    border-radius:100px;
}
#social_links a{
    color:#242526;
}
#social_links a:hover{
    color:#050505;
}
#site-map li{
    font-size:14px;
    margin:2px 0px;
    display:inline-block;
}
#site-map a{
    color:rgb(251,253,255);
}
#footer-logo{
    font-family:'raleway','sans-serif';
    font-size:38px;
    color:rgb(67,87,163);
}
.contact-info{
    color:rgb(67,87,163);
}
/*bottom footer*/
#inner-footer{
    background-color:#050505;
    color:rgb(251,253,255);
    padding:5px;
}
#inner-footer p{
    font-size:14px;
}

.mobile{
    display: none;
}
.desktop{
    display: block;
}


/*
modal & modal-btn
*/
#modal-btn{
    position:fixed;
    border-radius:100px;
    z-index:1;
    bottom:20px;
    right:10px;
    font-size:28px;
    width:80px;
    height:80px;
    background-color:rgb(216,73,81);
    color:rgb(251,253,255);
}

#modal-btn:hover{
    opacity:0.9;
}

.modal-header{
    background-color:rgb(67,87,163);
}
.modal-title{
    color:rgb(251,253,255);
}

#modal-label{
    font-family:'raleway','sans-serif';
}
#quote-btn{
    background-color:rgb(216,73,81);
    color:rgb(251,253,255);
}

#modal-btn-sent{
    position:fixed;
    border-radius:100px;
    z-index:1;
    bottom:20px;
    right:10px;
    font-size:32px;
    width:80px;
    height:80px;
    background-color:rgb(251,253,255);
    color:rgb(67,87,163);
}

.sent{
    font-size:20px;
    display:block;
}


/*
js style - to apply to navbar background when start to scroll
*/
.white{
    background-color:rgb(251,253,255);
}
.brand{
    color:rgb(67,87,163) !important;
}



/*
media queries
*/
@media screen and (max-width:768px){    
    /*give solid background to navbar and adjust navbar header accordingly*/
    nav{
        background-color:#efefef;
    }
    .navbar-brand{
        color:#1e1e1e !important;
    }
    .contact-info{
        font-size:13px;
    }
    .footer-text{
        font-size:13px;
    }
    #inner-footer{
        display:none;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}




