/*
set header default settings
    .position header content
    .style navigation bar
*/
header{
    background-image:url('../img/walkout.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh;
    background-attachment: fixed;
}

#header-content{
    padding-top:30vh;
    color:#efefef;
}
#header-content h1{
    font-family:'raleway','sans-serif';
    font-size:80px;
    margin-bottom:10px;
}
#header-content h4{
    font-style: italic;
}
#header-buttons{
    margin-top:20px;
}




/*
styling for about
*/
#about{
    margin:50px auto;
}

#about-tag{
    font-family:'raleway','sans-serif';
    margin-bottom:30px;
}
.about-column{
    padding:10px;
}


/*
styling for projects section
*/
.panel{
    padding:5px;
    background-color:#efefef;
    box-shadow:1px 1px 10px black;
    margin-top:10px;
    margin-bottom:10px;
}

#projects h6{
    color:black;
    padding:5px;
    font-weight:bold;
}
#projects a:hover{
    text-decoration:none;
}
.panel:hover{
    box-shadow:1px 1px 5px black;
}
#featured_projects{
    margin:0;
}


/*
Styling for services
*/
#services{
    padding: 20px 20px 50px;
    background-color:#242526;
}
#service-header p{
    color:white;
}
#service-header hr{
    border-color:white;
}
.service-panel{
    padding:15px;
}
.service-panel-body{
    font-size:14px;
}


/*
styling for testomonials
*/
#testomonials{
    padding: 20px 20px 50px;
}


/*
styling for banner
*/
#banner{
    padding:30px;
    background-image:url('../img/beach.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    margin-bottom: 50px;
}




/*
media queries
*/
@media screen and (max-width:576px){
    /*remove panel title*/
    .panel-title{
        display:none;
    }
    
    /*align about columns central*/
    .about-column{
        text-align:center;
    }
    /*change about tag font size*/
    #about-tag{
        display:none;
    }
}



